<div class="footer">

  <i class="far fa-copyright"></i>
  Copyright 2015
  <a href="mailto:{{ site.email }}">{{ site.author | escape }}</a>
  - Abonnez-vous <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>

</div>

<style media="screen">
  .footer {
    /* border-top : 1px #ddd solid; */
    background : #fcfff5 !important;
    color : var(--dark);
    padding-top : 2rem;
    padding-bottom : 2rem;
    text-align : center;
  }

  .footer a {

    font-size : 10rem;
    text-decoration : none;
  }
</style>
