/* GREEN : #4e834d */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');


body {
  font-family: 'Lato';
  font-size: 1.3rem;
  /* font-weight: 300; */
}
:root {
  --green: #4e834d !important;
}

.navbar {
  /* background-color: #fcfff5 !important; */
  padding-top: 1rem;
  padding-bottom : 1rem;
}

.navbar .nav-link {
  font-size : 1rem;
}


h1, h2, h3, h4, h5, h6 {
  font-weight : 900;
  /* margin-top : 2.5rem; */
}

h3, h4, h5, h6 {
  font-weight : 900;
  /* margin-top : 2rem; */
}

a {
  color : var(--dark);
  text-decoration : none;
  /* font-weight : bold; */
}

a:hover {
  color : var(--success);
  text-decoration : none;
}

p {
  text-align: justify;
}
.site-header {
  /* On soustraite la hauteur de la Navbar. */
  height: calc(100vh - 57px);
  display : flex;
  align-items : center;
  justify-content : start;
  /* border-bottom: 1px solid #dee2e6; */
}

.site-header .site-title {
  /* letter-spacing: .3rem; */
  font-size: 5rem;
  font-weight: 900;
  text-transform : uppercase;
}
@media (max-width: 576px) {
  .site-header .site-title {
    font-size : 3rem;
  }
}

.site-header .lead {
  font-size : 2rem;
  font-weight : 300;
  max-width : 800px;
}

.posts-list h4{
  text-transform : none;
  font-weight : normal;
}

.more-posts {
  font-size : 1rem;
  font-weight : 900;
  text-transform : uppercase;
}

/* BLOG ---------------------------------------- */


.posts .post{
  padding-bottom : 4rem ;
}


.posts .post a {
  color : var(--dark);
  text-decoration : none;
}

.posts .post .date {
  color : var(--secondary);
  text-transform : uppercase;
}

.posts .post p {
  color : var(--secondary);
  font-size : 1.2rem;
  font-weight: 300;
}




.app-list a{
  /* word-spacing: 30px; */
}

  .app-list .card-title {
    /* font-size: 2rem; */
  }
  .app-list .card-text {
    font-size: 1.2rem !important;
    font-weight: 300;
  }

  .app-list .card-link {
    font-size: 1rem;
    font-weight: bold;
  }








.footer {
  text-align : center;
  font-size : 1rem;
  color : #6c757d;
}
  .footer a {
    color : #6c757d;
  }
