---
layout: default
---

<script src="/assets/js/qambium.js" charset="utf-8"></script>
<div ng-app = "qambium">



    {%- for app in site.data.applications -%}


    <div class="card mb-5">
      <div class="card-body">
        <a class="title" href="{{ post.url | relative_url }}">
          <h3>{{ app.name | escape }}</h3>
        </a>

        <p class="excerpt">{{ app.description }}</p>
        <div>
          {% if app.link %} <a class="card-link" href="{{app.link}}" class="card-link"><i class="fas fa-mouse-pointer"></i> Voir</a> {% endif %}
          {% if app.github %} <a class="card-link" href="https://github.com/{{app.github}}" class="card-link"><i class="fas fa-code"></i> Code Source</a> {% endif %}
          {% if app.more %} <a class="card-link" href="{{app.more}}" class="card-link"><i class="fas fa-question-circle"></i> En savoir plus...</a> {% endif %}
        </div>
      </div>

      <div class="card-footer text-muted small">
        <github-repo-lastupdate repo-name = "{{ app.github }}"><github-repo-lastupdate>
      </div>
    </div>



    {%- endfor -%}
 

</div>
