---
layout: default
---



{%- if site.posts.size > 0 -%}

<div class="container ">


    {%- for post in site.posts -%}

    <div class="card border-0">
      <div class="card-body pl-0 pr-0">
        <div class="d-flex justify-content-between">
          <h4 class="card-title">{{ post.title | escape }}</h4>
          <small class="card-subtitle mb-2 text-muted">le {%- include date-romain.html -%}</small>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">{{post.categorie}}</h6>
        <p class="">{{ post.description }} <a href="{{ post.url | relative_url }}" class="card-link">lire la suite...</a></p>
      </div>
    </div>



    {%- endfor -%}

</div>


{%- endif -%}
