---
layout: default
---

{%- if site.posts.size > 0 -%}

  <div class="posts">
    {%- for post in site.posts -%}

        <div class="post">

          <div class="container">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">

                <div class="d-flex justify-content-between">
                  <a class="title" href="{{ post.url | relative_url }}">
                    <h3>{{ post.title | escape }}</h3>
                  </a>

                  <span class="date">{%- include date.html -%}</span>
                </div>

                <p class="excerpt">{{ post.excerpt }}</p>

              </div>
            </div>
          </div>



        </div>
        <!-- .post -->

    {%- endfor -%}

  </div>
  <!-- .posts -->

{%- endif -%}
