

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {%- include head.html -%}

  <body>


    <div class="home">

      <div class="container">
        <h1 class = "site-title">{{site.title}}</h1>
        <p class = "lead">{{site.description}}</p>
        <!-- <p class = "text-muted mt-5">Le site est à une bière ou deux d'être disponible... Revenez nous voir !</p> -->

        <nav class="nav menu">
          <a class="nav-link" href="https://qambium.fr/SQolytes/">SQolytes</a>
          <a class="nav-link" href="https://qambium.fr/plotter/">Plotter</a>
        </nav>

      </div>

    </div>



  </body>

</html>
