---
layout: default
---

<div class="site-header d-flex align-items-center justify-content-start" style = "height : calc(100vh - 57px); ">

  <!-- <div class="container"> -->
    <!-- <div class="d-flex align-items-end justify-content-start"> -->
      <div class="container">
        <h1 class = "site-title">{{site.title}}</h1>
        <p class = "lead">{{site.description}}</p>
        <p class = "text-muted mt-5 text-center">Le site est à une bière ou deux d'être disponible... Revenez nous voir !</p>
      </div>
    <!-- </div> -->
  <!-- </div> -->

</div>
